.head {
  background-color: var(--secondary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
}

.head h1 {
  padding: 1rem;
}

.mode {
  align-self: center;
  padding: 0.5rem;
}
