.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  background-color: var(--background);
  color: var(--text);
  padding: 2rem;
  box-shadow: inset 0px 1px 3px var(--shadow);
}
