.countries {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  background-color: var(--background);
  color: var(--text);
  padding: 2rem;
  box-shadow: inset 0px 1px 3px var(--shadow);
  transition: all 0.5s;
}

.input {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input :is(input, select) {
  appearance: none;
  margin: .25rem;
  height: min-content;
  padding: 0.5rem;
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 3px var(--shadow);
  transition: all 0.5s;
}

.search {
  position: relative;
  width: min(22rem, 100% - 4rem);
}

.regionSelect{
  min-width: 9rem;
  grid-template-areas: "select";
  display: grid;
  align-items: center;
}

.region {
  width: 100%;
}

.region,
.regionSelect::after{
  grid-area: select;
}

.regionSelect::after{
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

.search input {
  padding-left: 2rem;
  width: 100%;
}

.search input::placeholder {
  color: var(--text);
  opacity: 1;
}

.icon {
  height: 1rem;
  top: .75rem;
  left: .75rem;
  position: absolute;
}
